.dayweather_flexcontainer{
    display:flex;
    justify-content: space-between;
    padding-top : 30px;
    padding-bottom: 30px;
    background-color:  	 	#f5f39c;
    padding-left: 15px;
    padding-right: 15px;
}

.DetailsBox {
    display: flex;
    margin: 180px 50px;
  
}

.dayweather_item{
    background-color: #14ffb1;
    padding:20px;
    border-radius:5%;

    
}

.dayweather_text{
    font-weight: bold;
}


.WeatherBox{
    margin-top: 30px;
    border: 1px solid;
    width: 100%;
    height: 120px;
  }
  .index_0{
    margin-top: 2px;
    margin-left: 30px;
    border: 1px snow;
    width: 300px;
    height: 115px;
  
    border-radius: 12px;
    text-align: center;
  }
  .index_1{
    margin-top: -115px;
    margin-left: 345px;
    border: 1px snow;
    width: 300px;
    height: 115px;
  
    border-radius: 12px;
    text-align: center;
  }
  .index_2{
    margin-top: -115px;
    margin-left: 660px;
    border: 1px snow;
    width: 300px;
    height: 115px;
  
    border-radius: 12px;
    text-align: center;
  }
  .day{
    width:120px;
    font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  font-size:16px;
  padding: 2px 6px 2px 6px;
  border: 1px solid #8f8f9d;
  border-radius: 5px;
    }
  .day:hover{
    background:#d0d0d7;
  }
 
  .Temp{
    text-align: center;
    font-size: 48px;
    margin: 4px 2px;
    color: black; 
  }
  
  .ParametersDetail{
  align-self: center;
  
  }
  .image-cloud{
    position: absolute;
    transform: translateY(-125%) translateX(20%);
    
  }
  .ParameterAll{
  margin-top: 105px;
  }
  .Parameter-all{

  display: flex;
  flex-wrap: wrap;
  }

  .Label{
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  color: black;
  margin-left: 300px;
  margin-top: -250px;
  font-weight: bold;
  }

  .value{
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  margin-left:  416px;
  margin-top: -250px;
  font-weight: bold;
  }
  .Label2{
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  color: black;
  margin-left: 300px;
  margin-top: -220px;
  }
  .value2{
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  margin-left: 438px;
  margin-top: -220px;
  }
  .Label3{
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  color: black;
  margin-left: 300px;
  margin-top: -190px;
  }
  .value3{
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  margin-left: 442px;
  margin-top: -190px;
  }
  .Label4{
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  color: black;
  margin-left: 300px;
  margin-top: -160px;
  }
  .value4{
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  margin-left: 468px;
  margin-top: -160px;
  }
  .Label5{
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  color: black;
  margin-left: 300px;
  margin-top: -130px;
  }
  .value5{
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  margin-left: 398px;
  margin-top: -130px;
  }
  .Label6{
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  color: black;
  margin-left: 300px;
  margin-top: -100px;
  }
  .value6{
  font-size: 20px;
  font-weight: 300;
  line-height: 1.33;
  margin-left: 439px;
  margin-top: -100px;
  }

  .Label7{
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    color: black;
    margin-left: 300px;
    margin-top: -70px;
    }

  .value7{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.33;
    margin-left: 816px;
    margin-top: -70px;
    }

  .HourBox_1{
  margin-top: 9px;
  margin-left: 20px;
  border: 1px snow;
  width: 10%;
  height: 77px;
  border: 1px solid;
  text-align: center;
  }
  .HourBox_2{
  margin-top: 2px;
  margin-left: 20px;
  border: 1px snow;
  width: 10%;
  height: 85px;
  border: 1px solid;
  text-align: center;
  }
  .HourBox_3{
  margin-top: 2px;
  margin-left: 20px;
  border: 1px snow;
  width: 10%;
  height: 85px;
  border: 1px solid;
  text-align: center;
  }
  .ParametersDetail{
  margin-top: -257px;
  margin-left: 150px;
  border: 1px snow;
  width: 54%;
  height: 257px;
  border: 1px solid;
  }
  .TypeClothingSuggestion{
    margin-top: -135px;
    margin-left: 129px;
    width: 85%;
    height: 257px;
  }

  .TypeClothingSuggestion img{
  width:120px;
  font: bold 11px Arial;
text-decoration: none;
background-color: #EEEEEE;
color: #333333;
padding: 2px 6px 2px 6px;
border: 1px solid #8f8f9d;
margin: -1px 1px;
border-radius: 5px;
  }
.TypeClothingSuggestion img:hover{
  background:#d0d0d7;
}

#cloud {
  width: 173px;
  font: bold 11px Arial;
  text-decoration: none;
  background-color: white;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid #8f8f9d;
  border-radius: 5px;
}

  
  .Suggestion{
  margin-left: 20px;
  }
  .footer{
    background-color: white;
    font-size: medium;
    font-style: normal;
    color: blue;
    margin-top:auto;
    height: 30px;
    text-align: center;
  }